
/*
	STYLE.CSS:
*/

body {
  background-color: tan;
}

img {
  width: 100%;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: navy;
}

h2 {
  font-size: 24px;
  color: black;
}

p, li {
  font-family: helvetica;
  font-size: 18px;
  color: black;
}

/* Custom Classes */

.pageContainer {
  float: center;
  width: auto;
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.footerText {
  float: center;
  width: auto;
  color: white;
}
