
/*
	STYLE.CSS:
*/

body {
  background-color: tan;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: navy;
}

h2 {
  font-size: 24px;
  color: black;
}

p, li {
  font-family: helvetica;
  font-size: 18px;
  color: black;
}

footer, title {
  text-align: center;
  width: auto;
  color: white;
}

/* Custom Classes */

.pageContainer {
  float: center;
  width: auto;
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.pageBody {
  text-align: justify;
  min-width: 400px;
  max-width: 1200px;
}
